.card {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

.comments {
    width: 600px;
    margin: auto;
}

/* .card img {
    float: right;
    width: 200px;
    height: auto
    ;
} */

h4 {
    text-decoration: none;
}