.App {
  text-align: center;
  background-color: lightgray;
  
  padding-bottom: 100px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  /* align-items: right; */
  gap: 10px;
  margin: auto;
  width: 70%;
  padding: 0;
}

body{
  background-color: lightgray;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  grid-column: 2;
  justify-self: flex-start;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
  
}

.header {
  grid-column: 1 / span 2;
}
.filters, .home, .board, .post {
  grid-column: 1;
  display: flex;
  flex-direction: column;

}

.filters {
  margin-bottom: 10px;
}


.boards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.card {
  margin-bottom: 5px;
}

.header {
  width: 100vw;
  margin-bottom: 5px;
}

.add-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 600px;
}

.title {
  width: 600px;
}